h1{
    text-align: center;
}

#home-card {
    background-color: #f5f5f5;
    text-align: center;
    border-radius: 10px;
}

#home-h2 {
    text-align: center;
}

#user-info {
    list-style: none !important;
    text-align: center;
    padding: 0;
}

#purchase-info {
    list-style: none !important;
    text-align: center;
    padding: 0;
}